<!-- <nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/tasks">View tasks</a></li>
        <li><a href="/create">Create tasks</a></li>
    </ul>
</nav> -->

<header class="header">
    <div class="logo">
        Tasks
    </div>
    <nav class="menu">
        <a href="/" class="link">
            <div class="title">Home</div>
            <div class="bar"></div>
        </a>
        <a href="/tasks" class="link">
            <div class="title">View tasks</div>
            <div class="bar"></div>
        </a>
        <a href="/tasks/edit" class="link">
            <div class="title">edit tasks</div>
            <div class="bar"></div>
        </a>
        <a href="/tasks/create" class="link">
            <div class="title">Create tasks</div>
            <div class="bar"></div>
        </a>
    </nav>
</header>