<header class="header">
    <div class="logo">
        Tasks
    </div>
    <nav class="menu">
        <a href="/" class="link">
            <div class="title">Home</div>
            <div class="bar"></div>
        </a>
        <a href="/signin" class="link">
            <div class="title">Sign in</div>
            <div class="bar"></div>
        </a>
        <a href="sign-up" class="link">
            <div class="title">Sign up</div>
            <div class="bar"></div>
        </a>
    </nav>
</header>