<header class="header">
    <div class="logo">
        <a href="/">
            <img src="/images/logo.png" alt="Logo" alt width="72" height="72">
        </a>
    </div>
    <nav class="menu">
        <a href="/users/signin" class="link">
            <div class="title">Sign in</div>
            <div class="bar"></div>
        </a>
        <a href="/users/signup" class="link">
            <div class="title">Sign up</div>
            <div class="bar"></div>
        </a>
    </nav>
</header>