<!DOCTYPE html>
<html lang="en">

<%- include('partials/head.ejs') %>

    <body>
        <%- include('partials/signnav.ejs') %>

            <div class="d-flex">
                <a class=" my-auto mx-auto" href="/">
                    <img src=" /images/error404.svg" class="my-auto mx-auto" alt="404 svg" width="400" height="400">
                </a>
    </body>

</html>