<!DOCTYPE html>
<html lang="en">

<%- include('partials/head.ejs') %>

    <body class="text-center">

        <%- include('partials/signnav.ejs') %>

            <img src="/images/emailsent.svg" alt="email sent svg" alt width="350" height="350">

            <h1>Email sent!</h1>
            <h3>Check your email to verify your email.</h3>

    </body>

</html>