<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs') %>

    <body>
        <% if (loggedIn) { %>
            <%- include('partials/nav.ejs') %>
                <% } else { %>
                    <%- include('partials/signnav.ejs') %>
                        <% } %>

                            <h1>Home</h1>
    </body>

</html>